<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script type="text/javascript">
		    			
  </script>
  <title>Main</title>
</head>

<body>
 <!-- ERROR SECTION -->  
      {% for message in get_flashed_messages() %}
         <div class="flash"><h1>{{ message }}</h1></div> <br/><br/>
      {% endfor %}
      {% if error %}
        <p class="error"><strong style="color: red;">Error: </strong> {{ error }} </p> <br/><br/>
      {% endif %}
  <!-- END ERROR SECTION -->

        {% block content %}
        {% endblock %}

<h1>Main </h1>
Hello!

<div class="ugly">
  <form action="" method="POST">
    <p>{{ form.play.label }} {{ form.play }} </p> <input type="submit"/>
  </form>
</div>


  
</body>
</html>

